.support-help h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter";
  color: #272d37;
}
.support-help h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.64px;
}

.support-help h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.28px;
}
.support-help h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.22px;
}
.support-help h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.1px;
}
.support-help h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.support-help p {
  font-family: "Inter";
  font-size: 16px;
  color: #5f6d7e;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.1px;
}

.support-container {
  width: 1216px;
  margin: 0 auto;
}

.support-profile {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}

.support-lists {
  display: flex;
  gap: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.support-lists-home {
  color: #5f6d7e;
  font-size: 14px;
  font-family: "Inter";
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.support-lists-page {
  color: #437ef7;
  font-size: 14px;
  font-family: "Inter";
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.support-profileImg {
  display: flex;
  gap: 32px;
}

.support-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.support-table {
  border: 1px solid #eaebf0;
  border-radius: 5px;
  border-collapse: collapse;
  margin-bottom: 64px;
}

.support-table-tr {
  width: 100%;
  border-bottom: 1px solid #eaebf0;
  padding: 18px 32px;
  display: flex;
  justify-content: space-between;
}

.support-table-tr1 {
  width: 100%;
  border-bottom: 1px solid #eaebf0;
  padding: 20px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.support-table-end {
  display: flex;
  gap: 32px;
}

.support-profile-btn {
  padding: 20px;
  border: 1px solid #f5faff;
  padding: 4px 12px;
  border-radius: 5px;
  background: #f5faff;
}

.support-profile-btn a {
  font-size: 14px;
  font-family: "Inter";
  font-weight: 500;
  line-height: 20px;
  color: #437ef7;
}
.support-borderless {
  border: none;
}

.support-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding: 64px 0;
}
.support-section-header {
  width: 800px;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}
.support-section-item {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.support-section-card {
  border: 1px solid #eaebf0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
  text-align: center;
  gap: 16px;
}
